th{
    border-left: 3px solid #5240ef;
    background-color: #DCDCDC;
    height: 60px;
    width: 500px;
    margin: 20px;
    text-align: left;
}
b{
    
}
h1,p{
    text-align: center;
}